<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{ % endblock % }</title>
        <meta name="description" content="Make your URLs short completely for free!">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    
    <body>
        <div class="container-fluid">
            <h1>URL Shortener</h1>
            <hr>
            {% block content%}
            {% endblock %}
        </div>

        <script src="" async defer></script>
    </body>

</html>