* {
    font-family: 'Fredoka', sans-serif;
    text-align: center;
}

progress {
    border: none;
    width: 400px;
    height: 60px;
    background: crimson;
  }
  
  progress {
    color: lightblue;
  }
  
  progress::-webkit-progress-value {
    background: lightblue;
  }
  
  progress::-moz-progress-bar {
    background: lightcolor;
  }

h1 {
    font-size: 50px;
    color: whitesmoke;
}